* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Livvic;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    font-family: 'Livvic', sans-serif;
    background-color: #014E56;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: #014E56;
    padding-top: 77px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav,
ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.contact-Us {
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 24px;
    cursor: pointer;
}


.about-company {
    display: flex;
    padding-bottom: 120px;
    padding-top: 164px;
}

.about-company h1 {
    font-family: Livvic;
    font-size: 64px;
    font-weight: 700;
    width: 350px;
    height: 100px;
    color: white;
}



.about-company p {
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    max-width: 730px;
    padding-left: 30px;
    color: white;

}

.founders {
    background: #004047;
    padding: 80px 20px;
    text-align: center;
}

.founders h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.plus {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -22px;
    left: 42%;
    width: 56px;
    height: 56px;
    color: black;
    border-radius: 100px;
    background-color: #F67E7E;
}

.founder-info {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.founder {
    padding-bottom: 70px;
    position: relative;
    background: #012F34;
    padding: 20px 20px 70px 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.founder p {
    color: white;
    font-weight: 700;
}

.founder h4 {
    color: #79C8C7;
    margin-top: 15px;
    font-size: 20px;
}

.founder img {
    width: 80px;
    border-radius: 50%;
}

.clients-example {
    background: #012F34;
    padding: 80px 20px;
    text-align: center;
}

.clients-example h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.logos img {
    max-width: 200px;
    height: 23px;
}

footer {
    background: #002529;
    padding: 40px 0;
    text-align: center;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links img {
    width: 24px;
}

.sct-2 {
    background-color: #F67E7E;
}

.Support {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 150px;
    background-color: #F67E7E;
}

.Support button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 24px;
    cursor: pointer;
    color: black;
    border: 2px solid #012F34
}

.Support h2 {
    width: 504px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    font-family: Livvic;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
}

.Social-media img {
    cursor: pointer;
}



.Social-media {
    display: flex;
    justify-content: center;
    gap: 840px;
}

.contact-Us:hover {
    background: white;
    color: #012F34;
    transition: 0.7s ease;
}

.Support button:hover {
    background: #012F34;
    color: white;
    transition: 0.7s ease;
}

.menu {
    display: none;
}

@media (max-width:768px) {

    .container {
        max-width: 683px;
        margin: 0 auto;
    }

    .logos img {
        max-width: 103px;
        height: 17px;
    }

    .about-company {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .about-company p {
        font-family: Livvic;
        font-size: 15px;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 457px;
        color: white;
        text-align: center;
    }

    .about-company h1 {
        font-family: Livvic;
        font-size: 64px;
        font-weight: 700;
        width: 350px;
        text-align: center;
        height: 100px;
        color: white;
    }


    .founder-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .founder:nth-child(3) {
        transform: translateX(190px);
    }


    .Social-media {
        display: flex;
        justify-content: center;
        gap: 350px;
    }

    .Support h2 {
        width: 400px;
        height: 32px;
        top: 84px;
        left: 97px;
        gap: 0px;
        opacity: 0px;
        font-family: Livvic;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: black;
    }




    .Support {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        gap: 50px;
        background-color: #F67E7E;
    }

    .Support button {
        border: none;
        background-color: transparent;
        color: white;
        padding: 10px 20px;
        border-radius: 24px;
        cursor: pointer;
        color: black;
        border: 2px solid #012F34
    }

    .menu {
        display: none;
    }

}


@media (max-width:375px) {

    .container {
        max-width: 327px;
        margin: 0 auto;
    }

    .logos img {
        max-width: 150px;
        height: 20px;
    }


    .Support h2 {
        width: 327px;
        height: 64px;
        font-family: Livvic;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: black;
    }


    .Support button {
        border: none;
        background-color: transparent;
        color: white;
        padding: 10px 20px;
        border-radius: 24px;
        cursor: pointer;
        color: black;
        border: 2px solid #012F34
    }

    .Support {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        gap: 50px;
        background-color: #F67E7E;
    }

    .logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Social-media {
        display: flex;
        justify-content: center;
        gap: 80px;
    }

    .about-company {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .about-company p {
        font-family: Livvic;
        font-size: 15px;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 327px;
        color: white;
        text-align: center;
    }

    .about-company h1 {
        font-family: Livvic;
        font-size: 64px;
        font-weight: 700;
        width: 350px;
        text-align: center;
        height: 100px;
        color: white;
    }

    nav ul {
        display: none;
    }

    .menu {
        display: ruby;
    }


    .founder-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .founder:nth-child(3) {
        transform: translateX(0px);
    }
}